
nav {
    background-color: var(--dark-mode-dark-blue);

    padding: 50px;
    margin-top: 5px;
    border-bottom: 1px solid var(--light-mode-dark-gray);
  }
  
  nav a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    
    color: var(--white);
  }
  
  