.countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    padding: 30px;

  }

  .card{
    background-color: var(--dark-mode-dark-blue);
    color: var(--white);
  }
  img{
    height: 150px;
    object-fit: cover;
  }
  
  a, a:hover{
    text-decoration: none;
    color: inherit;
  }

  @media screen and (max-width: 780px) {
    .countries {
      grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 650px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}